*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: rgb(43, 59, 181);
}
input{
    width:200px;
    margin-top:5px;
    height: auto;
    padding: 4px;
}
.border{
    background-color: rgb(24, 24, 21);
    border:2px solid black;
    box-shadow: 4px 2px 10px rgb(213, 224, 220) ;
    width: max-content;
    height: auto;
    margin: 80px auto 0px auto;
    border-radius: 10px;
}
.top{ 
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 5px;
}
.top button{
    width: 40px;
    padding: 5px;
    border:1px solid black;
    margin-left:5px;
    border-radius:5px;
    text-align: center;
}
.top button:hover{
background-color: black;
color: white !important;
}